.dashboardPage {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .texts {
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 700px;
        gap: 50px;

        .logo {
            display: flex;
            align-items: center;
            gap: 15px;
            opacity: 0.2;

            img {
                width: 78px;
            }

            h1 {
                font-size: 64px;
                font-family: 'Montserrat';
                background: linear-gradient(to right, #217bfe, #e55571);
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
            }
        }

        .options {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 50px;
            width: 100%;

            .option {
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 10px;
                font-weight: 300;
                font-size: 14px;
                padding: 20px;
                border: 1px solid #555;
                border-radius: 20px;

                img {
                    width: 40px;
                    height: 40px;
                    object-fit: cover;
                }
            }
        }
    }

    .formContainer {
        margin-top: auto;
        width: 100%;
        max-width: 700px;
        background-color: #2c2937;
        border-radius: 20px;
        display: flex;

        form {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;

            input {
                flex: 1;
                padding: 20px;
                background-color: transparent;
                border: none;
                outline: none;
                color: #ececec;
            }

            button {
                background-color: #605e68;
                border-radius: 50%;
                border: none;
                cursor: pointer;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 20px;
                img {
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }
}